@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.article {
	@include flex(column, center, center);

	position: relative;
	gap: 10px;
	width: 100%;
	padding: 20px;
	overflow: hidden;
	border: 1px solid $card-border;
	border-radius: 8px;

	&.is-new {
		&::before {
			position: absolute;
			top: 11px;
			right: -19px;
			width: 80px;
			height: 20px;
			color: $card-color;
			content: 'New';
			background-color: $card-background;
			transform: rotate(45deg);
			@include flex(row, center, center);
		}
	}
}
