.container {
	display: flex;
	justify-content: center;
}

.header {
	.container {
		padding: 20px;
	}
}

.main {
	flex: 1;

	.container {
		flex-direction: column;
		gap: 1.25em;
		align-items: center;
		height: 100%;
	}
}
