@use "../styles/variables" as *;

.container {
	display: flex;
	justify-content: center;
}

.header {
	.container {
		padding: 20px;
	}

	&Landing {
		position: relative;
		background-color: transparent;
		display: flex;
		justify-content: center;

		.container {
			position: absolute;
			padding: 20px;
		}

		& [class*='navLink'] {
			color: $nav-color-light;

			&[class*="active"] {
				color: $nav-active-color-light;
			}
		}
	}
}

.main {
	flex: 1;

	.container {
		flex-direction: column;
		gap: 1.25em;
		align-items: center;
		height: 100%;
	}
}
