$card-background: #fff;
$card-border: #ccc;
$card-color: #213547;
$navigate-link-color: #fff;
$navigate-link-background: #007bff;
$navigate-link-shadow: #007bff;
$screen-background-light: #e0e0e0;
$main-color: #fff;
$nav-active-color: #0ff;
$nav-color-light: #000;
$nav-active-color-light: #594F63;
$button-border-hover: #0ff;
$button-shadow-hover: #0ff;
$button-color: rgb(255 255 255 / 87%);
$button-borer: rgb(255 255 255 / 87%);
$button-background: #1A1A1A;

